:root {
	// accent colors
	--vp-c-accent: #26adba;
}

[data-theme='dark'] {
	// brand colors
	--vp-c-accent: #6dcdd6;
}

// Custom styles
.sandbox {
	.page-meta {
		display: none;
	}

	[vp-content] {
		max-width: unset;
	}
}

.sandbox-code {
	font-size: 40px;
	font-family: var(--code-font-family);
	width: min-content;
}

// For user testing
.user-test .vp-navbar {
	display: none;
}
