:root {
	// accent colors
	--vp-c-accent: #26adba;
	--vp-c-accent-bg: var(--vp-c-accent);
	--vp-c-accent-hover: color-mix(
		in srgb,
		var(--vp-c-accent) 90%,
		var(--vp-c-bg)
	);
	--vp-c-accent-text: color-mix(
		in srgb,
		var(--vp-c-accent) 50%,
		var(--vp-c-bg)
	);

	// tip colors
	--tip-c-accent: var(--vp-c-accent);
	--tip-c-text: var(--vp-c-accent);
	--tip-c-soft: color-mix(in srgb, var(--vp-c-accent) 10%, transparent);

	// text colors
	--vp-c-text: black;

	// border colors
	--vp-c-border: var(--vp-c-text);
	--vp-c-border-hard: var(--vp-c-border);
	--vp-c-gutter: var(--vp-c-border);

	--vp-c-accent-text: color-mix(
		in srgb,
		var(--vp-c-accent) 10%,
		var(--vp-c-bg)
	);

	// font family
	--font-family: aktiv-grotesk, 游ゴシック体, 'Yu Gothic', YuGothic,
		'Hiragino Kaku Gothic ProN', Osaka, 'ＭＳ Ｐゴシック', sans-serif;
	--code-font-family: 'Geist Mono', monospace !important;

	// custom variables
	--border-radius: 6px;
}

[data-theme='dark'] {
	// brand colors
	--vp-c-accent: #6dcdd6;

	// text colors
	--vp-c-text: white;
}

html {
	font-variant-east-asian: proportional-width;
	line-break: strict;
	hanging-punctuation: allow-end;
	text-rendering: optimizeLegibility;
}

// Navbar
.vp-navbar {
	border-bottom: none;

	.vp-site-name {
		font-weight: 400;
	}
}

.vp-navbar-item {
	* {
		font-weight: 400;
		font-family: var(--code-font-family);
	}

	a[aria-label='GitHub'] {
		width: 1.4em;
		overflow: hidden;
		vertical-align: middle;
		background: none;

		&:before {
			display: inline-block;
			content: '';
			width: 1.4em;
			height: 1.4em;
			background: currentColor;
			margin-bottom: 0.2em;
			mask: url('/github-mark.svg') no-repeat;
			mask-size: 100% 100%;
			vertical-align: middle;
		}

		@media (max-width: 719px) {
			width: auto;

			&:before {
				display: none;
			}
		}
	}
}

.vp-hero-description {
	text-wrap: balance;
	line-height: 1.5;
}

.vp-feature {
	h2 {
		font-weight: 600;
	}
}

.toggle-color-mode-button {
	opacity: 1;
}

[vp-content] {
	h2,
	h3:not(:where(h2 + *)) {
		margin-top: calc(1rem - var(--header-offset));
	}

	a:not(.header-anchor) {
		font-weight: inherit;
		text-decoration-thickness: 0.5px;
		text-underline-offset: 2px;

		&:has(img) {
			&:after {
				content: '';
				display: none !important;
			}
		}
	}

	// Code
	code {
		padding: 0 0.2em;
		background: transparent;
	}

	// Paragraph
	p {
		line-height: 1.8;
	}

	// List
	:is(ul, ol, dl) {
		margin: 1em 0;
	}

	li {
		list-style: none;
		margin-bottom: 0.5em;

		&:before {
			content: '❊';
			color: var(--vp-c-text-quote);
			display: inline-block;
			width: 1em;
			margin-left: -0.5em;
			margin-right: 0.3em;
		}

		:is(ul, ol, dl) {
			margin: 0.5em 0;
		}
	}
}

// Sidebar
.vp-sidebar {
	border-right: none;

	li li li {
		font-family: var(--code-font-family);
		font-size: 0.9em;
	}
}

.vp-sidebar-item.vp-sidebar-heading {
	font-weight: 500;
}

.vp-sidebar-item:not(.vp-sidebar-heading) {
	padding-left: 1.25rem;
}

// Table
tr:nth-child(2n) {
	background-color: transparent;
}

th:nth-child(3) {
	min-width: 15em;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

:is(th, td) {
	&:not(:last-child) {
		border-right: 0;
	}

	&:not(:first-child) {
		border-left: 0;
	}
}

th {
	text-align: left;
}

th,
tr:not(:last-child) td {
	border-bottom: 0;
}
th:first-child {
	border-top-left-radius: var(--border-radius);
}
th:last-child {
	border-top-right-radius: var(--border-radius);
}

tr:last-child {
	td:first-child {
		border-bottom-left-radius: var(--border-radius);
	}
	td:last-child {
		border-bottom-right-radius: var(--border-radius);
	}
}

tr {
	background-color: transparent !important;
}

td code {
	padding-left: 0;
	padding-right: 0;
}

.sandbox {
	.page-meta {
		display: none;
	}

	[vp-content] {
		max-width: unset;
	}
}

.sandbox-code {
	font-size: 40px;
	font-family: var(--code-font-family);
	width: min-content;
}
