name: Deploy static content to Github Pages

on:
  push:
    tags:
      - 'v*'

# Sets the GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'deploy'
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Verify tag is on main branch
        run: git branch -r --contains ${{ github.sha }} | grep -q 'origin/main'
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install
      - name: Build
        uses: borales/actions-yarn@v4
        with:
          cmd: build:doc
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/.vuepress/dist/
          include-hidden-files: true
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
